@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(-45deg, #ffadad, #ffd6a5, #fdffb6, #caffbf, #9bf6ff, #a0c4ff, #bdb2ff, #bdb2ff, #ffc6ff);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

main {
  background-color: rgba(0, 18, 25, 0.8);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-form {
  display: flex;
  margin-bottom: 50px;
  gap: 15px;
  width: 100%;
}

input {
  color: #f5f5f5;
  background-color: rgba(0, 18, 25, 0.8);
  width: 100%;
  flex: 1;
  padding: 15px;
  border: 1px solid rgba(0, 18, 25, 0.4);
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}

button[type="submit"]{
  background-color: #0099ff;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}

td, th, table {
  border-radius: 10px;
  -moz-border-radius: 5px;
  padding: 5px;
}

table {
  border-spacing: 0;
  width: 100%;
}

td, th {
  padding: 10px 15px;
  border: 1px solid rgba(0, 18, 25, 0.4);
  text-align: center;
}

th {
  color: #969696;
  font-weight: 800;
  font-size: 1.3rem;
}

td {
  color: #f5f5f5;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: rgba(0, 18, 25, 0.4);

}

select {
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #ebebeb;
}

select option:nth-child(1) {
  background-color: #e76f51;
}

select option:nth-child(2) {
  background-color: #e9c46a;
}

select option:nth-child(3) {
  background-color: #2a9d8f;
}

.btn-action {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-action:nth-child(1) {
  background-color: orange;
  margin-right: 5px;
}

.btn-action:nth-child(2) {
  background-color: rgba(237, 42, 42, 0.9);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #001219;
  opacity: 0.5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  
}

.waviy {
  justify-content: center;
  display: flex;
  position: relative;
  -webkit-box-reflect: below -50px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}

.waviy span {
  font-family: 'Sigmar', cursive;
  position: relative;
  display: inline-block;
  color: #001219;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}